.Burger{
    width: 100%;
    height: 350px;
    margin: auto;
    overflow-y: scroll;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* .Burger::-webkit-scrollbar {
    display: none;

}
.Burger{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */